@import "tailwindcss";
@import '@fontsource/luckiest-guy';

@theme {
  --color-accent: rgb(149 140 255);
  --color-secondary: #62cfff;
}

html,
body,
#root {
  @apply h-full max-w-screen bg-[#19233B];
}

.font-lucky {
  font-family: 'Luckiest Guy', system-ui;
  letter-spacing: 1px;
}

input {
  @apply border-b-2 px-2 text-center outline-0;
}

.wrong {
  @apply text-red-400;
}

.right {
  @apply text-emerald-400;
}

button {
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
